body, html {
	height: 100%;
	margin: 0;
	display: flex;
	background: black;
	font: Arial, sans-serif;
}
.time-section {
	font-size: 120px;
	color: white;
}

.date-section {
	font-size: medium;
	color: white;
	text-align: left;
}