* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	user-select: none;
}

#drag-area {
  -webkit-app-region: drag;
}

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	background: #0a0a0a;
	overflow: hidden;
	justify-content: center;
	align-items: center
}

.clock-container {
	width: auto;
    display: flex;
    align-items: center;
	justify-content: center;
    gap: 30px;
}

.time-section {
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
	color: white;
}

.date-section {
	display: flex;
    flex-direction: column;
	white-space: nowrap;
    justify-content: center;
    font-weight: 300;
	color: white;
}

#day {
	font-size: 20px;
	text-transform: none;
}

#date {
	font-size: 20px;
}